//////////////////////////////////////////////////////////////////////////////
//	BODY / MAIN / GENERAL
//////////////////////////////////////////////////////////////////////////////
body {
	background: url("#{$site-common-images}/background.jpg");
}

//////////////////////////////////////////////////////////////////////////////
//	NAVBAR
//////////////////////////////////////////////////////////////////////////////
#wrapper-navbar {
	margin-bottom: 30px;

	.wrapper-navbar-brand {
		float: left;
		.navbar-brand {
			img {
				float: left;
			};
		}
	}

	h1 {
		float: left;
		color: black;
		padding: 25px;
		font-family: $nav-header-font;
		font-size: 2.6rem;
	};
}

//////////////////////////////////////////////////////////////////////////////
//	TIPOGRAPHY
//////////////////////////////////////////////////////////////////////////////
.h1, h1 {
	font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: $nav-header-font;
}

//////////////////////////////////////////////////////////////////////////////
//	HOME
//////////////////////////////////////////////////////////////////////////////
body.home header.entry-header {
    display: none;
}

.home #wrapper-navbar {
	margin-bottom: 0px;
}

//////////////////////////////////////////////////////////////////////////////
//	FOOTER
//////////////////////////////////////////////////////////////////////////////
#wrapper-footer {
	margin: 30px 0 0 0;
	padding: 15px 0px;
	min-height: 200px;
	background-color: rgba(0,0,0,0.6);
	color: white;

	h1.widget-title, h2.widget-title,
	h3.widget-title, h4.widget-title {
		font-size: 1rem;
		padding: 0px;
		margin: 0 0 15px 0;
	}

	p {
		font-size: 0.8rem;
	}

}

footer.site-footer {
	
}

//////////////////////////////////////////////////////////////////////////////
//	MAIN CONTENT
//////////////////////////////////////////////////////////////////////////////
.entry-content {
	margin: 30px 0;
}

.entry-header {
	font-family: $nav-header-font;
}

//////////////////////////////////////////////////////////////////////////////
//	HOME SECTIONS
//////////////////////////////////////////////////////////////////////////////
.card-deck-wrapper {
    margin: 30px 0px !important;
}

.card {
	background-color: rgba(0,0,0,0.1);
	padding: 15px;
}

//////////////////////////////////////////////////////////////////////////////
//	MENU
//////////////////////////////////////////////////////////////////////////////
.widget_nav_menu {
	.menu-item {
		width: 100%;
	}

	li.menu-item a {
		margin-left: 0.5rem
	}

	li.menu-item:before {
		content: "\f152"; /* FontAwesome Unicode */
	  font-family: FontAwesome;
	  display: inline-block;
	  margin-left: -1.3em; /* same as padding-left set on li */
	  width: 1.3em; /* same as padding-left set on li */
	  color: rgba(0,0,0,0.4);
	  font-size: 0.8rem;
	}

	li.current-menu-item a,
	li.current-menu-item:before {
		color: black;
	}

	li.current-menu-item a {
		font-weight: bold;
	}
}

.widget_nav_menu ul.sub-menu {
	display: none;
}
.widget_nav_menu .current_page_parent ul.sub-menu {
	display: block;
}
.widget_nav_menu .current_page_ancestor ul.sub-menu {
	display: block;
}
.widget_nav_menu li.current-menu-item ul.sub-menu {
	display: block;
}
.widget_nav_menu ul.sub-menu li.current-menu-item ul.sub-menu {
	display: block;
}
.widget_nav_menu ul.sub-menu ul.sub-menu {
	display: none;
}
.widget_nav_menu ul.sub-menu li.current_page_ancestor ul.sub-menu {
	display: block;
}
.widget_nav_menu li.current-menu-item a {
	
}
.widget_nav_menu li.current-menu-item ul.sub-menu a {
	font-weight: normal;
}

//////////////////////////////////////////////////////////////////////////////
//	WIDGETS
//////////////////////////////////////////////////////////////////////////////
// Widgets titles
h1.widget-title, h2.widget-title,
h3.widget-title, h4.widget-title {
	font-size: 1.3rem;
	font-family: $nav-header-font;
}

// Right sidebar widgets
#right-sidebar aside.widget {
	padding: 10px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 15px;
    display: table;
    width: 100%;
}

#right-sidebar h3.widget-title {
	padding: 0px;
}

// Eliminar label del searchform
#searchform label {
	display: none;
}

//////////////////////////////////////////////////////////////////////////////
//	GENERAL CSSs
//////////////////////////////////////////////////////////////////////////////
.wrapper {
	padding: 0px;
}

//////////////////////////////////////////////////////////////////////////////
//	CALENDAR
//////////////////////////////////////////////////////////////////////////////
// Agenda
.ai1ec-agenda-view {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

//////////////////////////////////////////////////////////////////////////////
//	BREADCRUMBS
//////////////////////////////////////////////////////////////////////////////
.breadcrumb {
	padding: 0.2rem 1rem;
	background-color: rgba(0,0,0,0.1);
  	border: 1px solid rgba(0,0,0,.125);
  	border-radius: .25rem;
}

//////////////////////////////////////////////////////////////////////////////
//	IFRAMES
//////////////////////////////////////////////////////////////////////////////
iframe {
	border: 1px solid rgba(0,0,0,.125);
  	border-radius: .25rem;	
}

//////////////////////////////////////////////////////////////////////////////
//	CLUBES
//////////////////////////////////////////////////////////////////////////////

.club-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

.club-name {
	text-align: center;
}

div.club {
	img.club-logo {
		float: right;
		border: 1px solid rgba(0,0,0,.125);
	  	border-radius: .25rem;
	  	margin: 0px;
	  	max-height: 150px;
    	width: auto;
	};
	h6 {
		/*margin-right: 165px;*/
		min-height: 150px;
		span {
			display: block;
		}
	};
	div.details {
		margin-top: 30px;
		div.detail {
			display: block;
			text-align: right;
			span {
				margin-right: 10px;
			};
			i {
				width: 20px;
				text-align: center;
			}
		}
	};
}

//////////////////////////////////////////////////////////////////////////////
// MAPA DE CLUBES
//////////////////////////////////////////////////////////////////////////////
.acf-map {
  width: 100%;
  height: 500px;
  border: 3px solid rgba(0,0,0,.125);
  border-radius: .25rem;

  .club-infowindow {
  	p.address {
  		span {
  			display: block;
  		};
  	};
  };
}

.club-list-accordion {
	
	border: 3px solid rgba(0,0,0,.125);
  	border-radius: .25rem;

	.card-header {
		background-color: rgba(0,0,0,.125) !important;
	}

	ul.club-list {
	
		list-style-type: none !important;
		margin-bottom: 0px !important;
		padding-left: 15px;		

		li.club-item a {
			margin-left: 0.5rem
		};

		li.club-item:before {
			content: "\f1b9"; /* FontAwesome Unicode */
			font-family: FontAwesome;
			display: inline-block;
			margin-left: -1.3em; /* same as padding-left set on li */
			width: 1.3em; /* same as padding-left set on li */
			/*color: rgba(0,0,0,0.4);*/
			font-size: 0.8rem;

			.verified {
				color: green;
			};
			
			.non-verified {
				color: red;
			}
		};

	}

}

//////////////////////////////////////////////////////////////////////////////
//	MOBILE Media Queries
//////////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {

	h1.entry-title {
		text-align: center;
	}

	#wrapper-navbar {
		
		margin-bottom: 10px;

		nav.navbar {

			.container {
				max-width: 100%;
				margin: 0px;
				padding: 0px;
				text-align: center;
			
				div.wrapper-navbar-brand {

					width: 100%;
					margin-bottom: 20px;

					.navbar-brand {

						white-space: unset;
						margin: 0px;
						padding: 0px;

						img {
							float: none;
							
						}

						h1 {
							float: none;
							padding: 0px;
							margin: 0px;
						}
					}
				}
			}
		}
	}

}

@media only screen and (max-device-width: 480px) {

	#wrapper-navbar {
		
		margin-bottom: 10px;

		nav.navbar {

			.container {
				margin: 0px;
				padding: 0px;
				text-align: center;
			
				div.wrapper-navbar-brand {

					width: 100%;

					.navbar-brand {

						white-space: unset;
						margin: 0px;
						padding: 0px;

						img {
							float: none;
							
						}

						h1 {
							float: none;
							padding: 0px;
							margin: 0px;
						}
					}
				}
			}
		}
	}

	h4.card-title {
		margin-top: .75rem;
	}

	.card-deck-wrapper {
		margin: 0px !important;
	}

	.card.section-card {
		margin-bottom: 15px !important;
		text-align: center;
	}

	// Widgets
	.widget-area {
		padding: 5px;
		margin: 15px;
	}

	h1.entry-title {
		text-align: center;
	}

}