// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


$asset-images :         "../assets/images";
$site-images:           $asset-images + "/site";
$site-common-images:    $site-images + "/common";

$brand-primary:         rgba(0,0,0,0.4); //#fece00; //#ff6d5a

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

// Links
// Style anchor elements
$link-color:            			black !default;
$link-decoration:       			none !default;
$link-hover-color:      			red !default;
$link-hover-decoration: 			none !default;

// Google Fonts!!!
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Days+One);
$nav-header-font: 'Days One', sans-serif;
